body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #242526;
  --bg-accent: #484a4d;
  --text-color: #dadce1;
  --nav-size: 80px;
  --border: 1px solid #474a4d;
  --border-radius: 8px;
  --speed: 500ms;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.navbar {
  height: var(--nav-size);
  background-color: #192543;
  padding: 0 1rem;
  border-bottom: var(--border);
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
}

.nav-item {
  width: calc(var(--nav-size) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
}

.dropdown {
  position: absolute;
  top: 80px;
  width: inherit;
  background-color: #192543;
  border: var(--border);
  border-radius: var(--border-radius);
  padding: 1rem;
  overflow: hidden;
}

.menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.menu-item:hover {
  color: #525357;
}

.main-icon {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.align-items-center {
  align-items: center;
}

table {
  width: 100%;
  border-spacing: 0;
}

input {
  margin-left: 4px;
  margin-right: 2px;
  width: 5em;
}

td {
  text-align: center;
  padding: 5px;
}

.tm-text-left { text-align: left; }

th {
  color: #333333;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 5px;
}

tr:nth-child(1) { background-color: #e5e8ed; }

tr:hover { background-color: #e5e8ed !important; }

tr.tm-tr-header {
  background-color: #c4cdd6;
  height: 50px;
}

.meeting-table {
  display: flex;
  justify-content: center;
  max-width: 80%;
  align-items: center;
  float: none;
  margin: 0 auto;
}

.meeting-details {
  justify-content: center;
  max-width: 60%;
  align-items: center;
  float: none;
  margin: 0 auto;
  margin-top: 2rem;
  border: solid grey 1px;
}

.agenda-minutes-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  margin-left: 30%;
}

.nav-agenda-minute-1 {
  width: calc(var(--nav-size) * 2);
  display: flex;
  align-items: right;
  justify-content: right;
  padding-left: 1rem;
}

.nav-agenda-minute-2 {
  width: calc(var(--nav-size) * 2);
  display: flex;
  align-items: right;
  float: right;
  justify-content: right;
  padding-left: 1rem;
}

.sub-nav-text {
  color: black;
  font-weight: bolder;
}

.meeting-text-output {
  overflow-y: auto;
}
